@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-primary {
    @apply border border-neutral-200 dark:border-neutral-700;
  }
}

:root {
  --background-hex: theme('backgroundColor.neutral.50');
  --foreground-hex: theme('textColor.black');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hex: theme('backgroundColor.neutral.900');
    --foreground-hex: theme('textColor.white');
  }
}

body {
  color: var(--foreground-hex);
  background-color: var(--background-hex);
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
